<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SportShopDbConnection" 
			 connectionString="Data Source = DESKTOP-3HG9UVT\SQLEXPRESS;
              Initial Catalog = SportShop;
              Integrated Security = true;Connect Timeout = 2"/>
		<add name="testDbConnection"
					 connectionString="Data Source = Med_center.mssql.somee.com;
									   Initial Catalog = Med_center;
              Integrated Security = false;Connect Timeout = 2;
			  User ID=Wiles_SQLLogin_1;Password=9tdk5ikk9r"/>
	</connectionStrings>
</configuration>