<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SportShopDbConnection"
			 connectionString="Data Source = DESKTOP-3HG9UVT\SQLEXPRESS;
              Initial Catalog = SportShop;
              Integrated Security = true;Connect Timeout = 2"/>
	</connectionStrings>
</configuration>